@media (max-width: 992px) {
  /* ============ HEADER DESCRIPTION ============ */
  .header-container {
    height: 85vh;
  }

  .introduction-div {
    border-right: none;
    /* border-radius: 0 0 0 0; */
    /* border-radius: none; */
    width: 100%;
  }
  .introduction-div .text {
    padding-left: 0;
    padding: 10rem 2rem;
  }

  .introduction-div .text h1 {
    font-size: 4rem;
  }
  /* ============ GIS solutions ============ */
  .GIS-solutions-categories img {
    width: 60%;
  }

  /* ============ BLOG section ============ */
  .blog-heading {
    padding: 2.4rem 1.2rem;
  }

  .blog-heading h5 {
    font-size: 1.2rem;
  }

  /* ============ CAREER section ============ */
  .career .video {
    height: 28vh;
  }

  .career iframe {
    width: 100%;
    height: 100%;
  }

  /* ===== FOOTER section =========  */
  footer {
    margin: 5rem 0rem 2rem;
  }
}

@media (max-width: 768px) {
  /* ============ GIS solutions ============ */
  .GIS-solutions-categories img {
    width: 39%;
  }

  /* ============  CONTACT section ============ */
  .contact {
    padding: 4rem 1rem;
  }

  .contact-logo-img {
    width: 70%;
  }

  .contact-logo-img img {
    margin-bottom: 2rem;
  }

  /* ===== FOOTER section =========  */
  footer {
    margin: 5rem 1.17rem 2rem;
    padding: 4rem 1rem;
  }
}

@media (max-width: 540px) {
  .show-bar {
    font-size: 1.5rem;
    color: rgb(8, 60, 104);
  }

  .hide-bar {
    font-size: 2rem;
  }
  .navbar-brand img {
    width: 100%;
  }

  /* ============ HEADER DESCRIPTION ============ */
  .header-container {
    height: 70vh;
  }

  .introduction-div .text {
    padding-left: 0;
    padding: 5rem 2rem;
  }
  .introduction-div .text h1 {
    font-size: 2.2rem;
  }

  /* ============ CAREER section ============ */
  .career .video {
    height: 35vh;
  }

  /* ============ COUNTDOWN section ============ */
  .countdown-div {
    display: block;
  }

  /* ===== FOOTER section =========  */
  footer {
    margin: 1.5rem 1.17rem 0.6rem;
    padding: 1.9rem 1rem;
  }
}

@media (max-width: 480px) {
  /* ============ BLOG section ============ */
  .blog-heading {
    padding: 2rem 1.2rem;
  }

  .blog-heading h5 {
    font-size: 0.8rem;
  }

  .blog-heading {
    padding: 1.8rem 1rem;
  }

  /* .blog-heading h5 {
    font-size: 0.5rem;
  } */

  .blog-heading small {
    font-weight: 600;
    font-size: 0.8rem;
  }

  /* ============ CAREER section ============ */
  .career .video {
    height: 30vh;
  }

  /* ===== FOOTER section =========  */
}

@media (max-width: 280px) {
  /* ============ HEADER DESCRIPTION ============ */

  .introduction-div .text {
    padding: 2rem 2rem;
  }
  .introduction-div .text h1 {
    font-size: 2rem;
  }

  /* ============ BLOG section ============ */
  .blog-heading {
    padding: 1.2rem 1rem;
  }

  .blog-heading h5 {
    font-size: 0.5rem;
  }

  .blog-heading small {
    font-weight: 600;
    font-size: 0.5rem;
  }
  /* ============ CAREER section ============ */
  .career .video {
    height: 25vh;
  }

  /* ===== FOOTER section =========  */
  footer {
    padding: 1rem 1rem;
  }
  .links a {
    padding: 0 1rem;
    font-size: 1rem;
    line-height: 2rem;
  }

  .links .copyright {
    padding-top: 2.4rem;
  }

  .copyright p {
    font-size: 0.9rem;
  }
}
